{% extends 'base.html.twig' %}

{% block title %}Pagrindinis{% endblock %}
{% block stylesheets %}
    <Style>
        body{
            margin: 0;
            padding: 0;
            font-family: montserrat;
            background: linear-gradient(lightgray, white);
            height: 100vh;
            overflow: hidden;
        }

    </Style>
{% endblock %}
{% block body %}
    <h4>Kategorijos</h4>

    {% for category in categories %}
        <div class="row">
            <div class="col-lg-4">
                <a href="/category/{{ category.id }}" class="link-primary"><h4>{{ category.title }}</h4></a>
            </div>
        </div>
        {% for child in category.getCategories() %}
            <div class="row">
                <div class="col-lg-2">
                    <a href="/category/{{ child.id }}" class="link-primary">{{ child.title }}</a>
                </div>
            </div>
        {% endfor %}
    {% endfor %}


    <h4>Visi skelbimai</h4>
    <br>
    <h5>Paieška {{ render(controller(
            'App\\Controller\\SearchController::searchBar'
        )) }}
    </h5>
    <br>

    {% if advertisements %}
    <div class="py-2">
            <div class="row hidden-md-up">
                {% for advertisement in advertisements %}
                        <div class="col-md-4">
                            <div class="card" style="height: 350px; max-height: 100%; text-overflow:ellipsis; overflow: hidden">
                                <div class="card-block">
                                    <div class="container" style="margin:3px">
                                        <h5 class="card-title">{{advertisement.getAdTitle}}</h5>
                                        {%  if advertisement.imageFile != NULL %}
                                        <div class ="card-image">
                                            <img style="border-radius: 5px; max-height: 180px; max-width: 315px;" src="{{ asset('uploads/images/') ~ advertisement.imageFile }}">
                                        </div>
                                        {% endif %}
                                        <div class="cardText" style="max-height: 110px; text-overflow:ellipsis; overflow: hidden">
                                            <p class="card-text p-y-1">{{ advertisement.getDescription }}</p>
                                       </div>
                                        <div class="subText" style="margin-top:5px; margin-bottom: 5px">
                                            <city style="color:dimgray">{{ advertisement.getCity }}</city>
                                            <price style="color:green; text-align: right; float:right;">{{ advertisement.getPrice }} €</price>
                                        </div>
                                        <a style="float:bottom " href="/advertisement/{{ advertisement.id }}" class="btn btn-light">Daugiau...</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                {% endfor %}
            </div>
    </div>
    {% endif %}

{% endblock%}
