{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block stylesheets %}
    <Style>
        body{
            margin: 0;
            padding: 0;
            font-family: montserrat;
            background: linear-gradient(lightgray, white);
            height: 100vh;
            overflow: hidden;
        }
        .center{
            position: absolute;
            top: 52%;
            left: 50%;
            transform: translate(-50%,-50%);
            width: 400px;
            background: #d2d1d1;
            border-radius: 10px;
        }
        .center h1{
            text-align: center;
            padding: 0 0 20px 0;
            border-bottom: 1px solid silver;
        }
        .center form{
            padding: 0 40px;
            box-sizing: border-box;
        }
        form .txt_field{
            position: relative;
            border-bottom: 2px solid #adadad;
            margin: 30px 0;
        }
        .txt_field input{
            width: 100%;
            padding: 0 5px;
            height: 40px;
            font-size: 16px;
            border: none;
            background: none;
            outline: none;
        }
        .txt_field label{
            left: 5px;
            color: black;
            font-size: 16px;
        }
        .txt_field span::before{
            content: '';
            position: absolute;
            top: 40px;
            left: 0px;
            width: 0%;
            height: 2px;
            background: #2691d9;
            transition: .5s;
        }
        .txt_field input:focus ~ label,
        .txt_field input:valid ~ label{
            top: -5px;
            color: #2691d9;
        }
        .txt_field input:focus ~ span::before,
        .txt_field input:valid ~ span::before{
            width: 100%;
        }
        .pass{
            margin: -5px 0 20px 5px;
            color: #a6a6a6;
            cursor: pointer;
        }
        .pass:hover{
            text-decoration: underline;
        }
        button[type="submit"]{
            width: 100%;
            height: 50px;
            border: 1px solid;
            background: #2691d9;
            border-radius: 25px;
            font-size: 18px;
            color: #e9f4fb;
            font-weight: 700;
            cursor: pointer;
            outline: none;
        }
        button[type="submit"]:hover{
            border-collor: #2691d9;
            transition: .5s;
        }
        .signup_link{
            margin: 30px 0;
            text-align: center;
            font-size: 16px;
            color: #666666;
        }
        .signup_link a{
            color: #2691d9;
            text-decoration: none;
        }
        .signup_link a:hover{
            text-decoration: underline;
        }
    </Style>
{% endblock %}

{% block body %}
    <div class="center">
        <h1>Registracija</h1>
        <form method="post">

    {{ form_start(form) }}
            <div class="txt_field">
    {{ form_row(form.first_name) }}
            </div>
            <div class="txt_field">
    {{ form_row(form.email) }}
            </div>
            <div class="txt_field">
    {{ form_row(form.password.first) }}
            </div>
            <div class="txt_field">
    {{ form_row(form.password.second) }}
            </div>

<button type="submit">Registruotis</button>
{{ form_end(form) }}
            <div class="signup_link">
                Jau turi paskyrą? <a href="logins">Prisijungti</a>
            </div>
        </form>
    </div>
{% endblock %}