{% extends 'base.html.twig' %}

{% block title %}Skelbimo redagavimas{% endblock %}

{% block stylesheets %}
    <Style>
        a.letterSize {
            font-size: 40px;
            position: center;
        }
        k.letterSize{
            font-size: 40px;
            position: center;
        }
        body{
            margin: 0;
            padding: 0;
            font-family: montserrat;
            background: linear-gradient(lightgray, white);
            height: 100vh;
            overflow: hidden;
        }
        .center h1{
            text-align: center;
            padding: 0 0 20px 0;
            border-bottom: 1px solid silver;
        }
        .center form{
            padding: 0 40px;
            box-sizing: border-box;
        }
        button[type="submit"]{
            width: 15%;
            height: 40px;
            border-width: 1px;


            font-size: 18px;
            font-weight: 700;
            cursor: pointer;
            outline: none;

        }
    </Style>

{% endblock %}

{% block body %}
    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
    <div class="container mt-5">
        <div class="center">
        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}
        </div>
    </div>

    {% else %}
        <a class="letterSize" href="/logins">Prašome prisijungti</a>
    {% endif %}
{% endblock %}
