{% extends 'base.html.twig' %}

{% block title %}Skelbimo peržiūra{% endblock %}

{% block stylesheets %}
    <Style>

        p{
            font-size: 18px;
            word-break: break-all;
        }
        h6{

        }
        body{
            margin: 0;
            padding: 0;
            font-family: montserrat;
            background: linear-gradient(lightgray, white);
            height: 100vh;
            overflow: hidden;
        }
    </Style>

{% endblock %}

{% block body %}

    <div class="container">

        {%  if advertisement.imageFile != NULL %}
            <p><img style="border-radius: 5px; max-height: 40%; max-width: 50%" src="{{ asset('uploads/images/') ~ advertisement.imageFile }}"></p>
        {% endif %}
        <h4>{{ advertisement.AdTitle }}</h4>
        <h6>Miestas: {{ advertisement.city }}</h6>

        <p>{{ advertisement.description }}</p>
        <p>Kaina: {{ advertisement.price }} €</p>

        <p>Būklė: {{ advertisement.conditionStatus }}</p>
        <p>Telefono nr.: {{ advertisement.phoneNumber }}</p>
        <p>{{ advertisement.website }}</p>

        <a href="/">
            <div class="btn btn-dark">Grįžti</div>
        </a>
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        {% if advertisement.email == app.user.email %}
            <a href="/advertisement/edit/{{ advertisement.id }}">
                <div class="btn btn-warning">Redaguoti</div>
            </a>
            <a href="/advertisement/delete/{{ advertisement.id }}">
                <div class="btn btn-danger">Naikinti</div>
            </a>
        {% endif %}
        {% endif %}
    </div>
{% endblock %}
