{% extends 'base.html.twig' %}

{% block title %}Kategorijos redagavimas{% endblock %}

{% block stylesheets %}

{% endblock %}

{% block body %}
    <div class="container mt-5">
        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}
    </div>
{% endblock %}
