{% extends 'base.html.twig' %}

{% block title %}Kategorijos{% endblock %}

{% block body %}
    <a href="/admin/category/create">
        <button class="btn btn-success">Pridėti kategoriją</button>
    </a>
    {% for category in categories %}
        <div class="row">
            <div class="col-lg-4">
                <h2>{{ category.title }}</h2>
            </div>
            <div class="col-lg-6">
                <a href="/admin/category/create/{{ category.id }}" class="btn btn-sm btn-success" role="button">
                    Pridėti subkategoriją
                </a>
                <a href="/admin/category/edit/{{ category.id }}" class="btn btn-sm btn-success" role="button">
                    <i class="fas fa-edit" aria-hidden="true"></i>
                </a>

                <a href="/admin/category/delete/{{ category.id }}" class="btn btn-sm btn-danger" role="button" onclick="return confirm('Are you sure?')">
                    <i class="fa fa-trash" aria-hidden="true"></i>
                </a>
            </div>
        </div>
        {% for child in category.getCategories() %}
            <div class="row">
                <div class="col-lg-2">
                    <h4>{{ child.title }}</h4>
                </div>
                <div class="col-lg-6">
                    <a href="/admin/category/edit/{{ child.id }}" class="btn btn-sm btn-success" role="button">
                        <i class="fas fa-edit" aria-hidden="true"></i>
                    </a>

                    <a href="/admin/category/delete/{{ child.id }}" class="btn btn-sm btn-danger" role="button" onclick="return confirm('Are you sure?')">
                        <i class="fa fa-trash" aria-hidden="true"></i>
                    </a>
                </div>
            </div>
        {% endfor %}
    {% endfor %}
{% endblock %}
