/* assets/styles/app.css */

.table-wrapper { margin: 1em auto; max-width: 1700px; width: 95%; font: 18px/1.5 sans-serif;}
.table-wrapper code { background: #F5F5F5; padding: 2px 6px; }

h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

body {
    margin: 0;
}

body, table, th, td {
    font-family: 'Open Sans', 'Tahoma', 'Arial', sans-serif !important;
    font-size: 12px;
    text-rendering: optimizeLegibility;
    text-align: left;
    background: #F6FFFC;
    color: #505050
}

div {
    display: block;
}
button {
    color: #cbc6c6;
    background-color: #020101;
}

a:-webkit-any-link {
    cursor: pointer;
    text-decoration: underline;
    text-decoration: none;
    color:inherit;
}

.sect{
    background-color:#EAEAEA;
    padding:1px;
    border-style: solid;
    border-color:#C0C0C0;
    width:100%;
}

.sect:nth-child(2) {
   margin-top: 52px;
}

.imgbox{
    display: inline-block;
    float:left;
    margin:5px;
    width: 110px;
    padding-bottom: 50px;
    background-color: #D0D0D0
}

.img{
    margin: 5px;
    height: 100px;
    width: 100px;
    background-color: #ADADAD;
}

.text{
    text-align:left;
    word-wrap: break-word;
    font-size: 12px;
}
.imgstyle
{
    height: 100px;
    width: 100px;
}
.betweenCateg {
    width: 30px;
    float: left;
    height: 100px;
}
.categBlock {
    width: 150px;
    min-height: 20px;
    float: left;
}

#container {
    width: 980px;
    min-height: 400px;
    float: left;
    text-align: left;
    padding: 0;
}

a {
    color: #010201;
    text-decoration: none;
    color:inherit;
}

.categlist {
    margin: 0;
    margin-top: -51px;
    _margin-top: -48px;
    padding: 0;
    list-style: none;
    display: block;
    width: 210px;
}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
.Category{
    width: 210px;
    height: 70px;
    padding: 10px 0 5px 0;
    margin: 0;
    color: #434343;
    font-size: 15px;
    text-align: left;
    text-decoration:underline;
    text-decoration-color: #323232;
}

.navbar {
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
}

.navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.navbar a:hover {
    background: #ddd;
    color: black;
}
