<nav class="navbar navbar-expand-sm navbar-dark bg-primary mb-3">
    <div class="container">
        <button class="navbar-toggler" type="button"
             data-toggle="collapse" data-target="#nav">
            <span class="navbar-toggle-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="#nav"></div>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a href="/" class="nav-link">Pagrindinis</a>
            </li>
            <li class="nav-item">
                <a href="/advertisement/create" class="nav-link">Pridėti skelbimą</a>
            </li>
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                <li class="nav-item">
                    <a href="/user/{{ app.user.email }}" class="nav-link">Paskyra</a>
                </li>
                <li class="nav-item">
                    <a href="/logout" class="nav-link">Atsijungti</a>
                </li>
            {% else %}
                <li class="nav-item">
                    <a href="/register" class="nav-link">Registracija</a>
                </li>
                <li class="nav-item">
                    <a href="/logins" class="nav-link">Prisijungti</a>
                </li>
            {% endif %}



        </ul>
    </div>
</nav>