{% extends 'base.html.twig' %}

{% block title %}Paskyros peržiūra{% endblock %}

{% block stylesheets %}
<Style>
    th{
        color: black;
        font-size: 12px;
        background-color: lightgray;
    }
    a.letterSize {
        font-size: 40px;
        position: center;
    }
    k.letterSize{
        font-size: 40px;
        position: center;
    }
    body{
        margin: 0;
        padding: 0;
        font-family: montserrat;
        background: linear-gradient(lightgray, white);
        height: 100vh;
        overflow: hidden;
    }
    .center h1{
        text-align: center;
        padding: 0 0 20px 0;
        border-bottom: 1px solid silver;
    }
    .center form{
        padding: 0 40px;
        box-sizing: border-box;
    }
    center p{
        border-bottom: 2px solid #adadad;
    }

</Style>
{% endblock %}

{% block body %}
    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
    <div class="container">
        <div class="center">
        <h3>Paskyros informacija</h3>
        <br>
        <p><h5>Vardas:&nbsp;&nbsp;&nbsp;&nbsp; {{ app.user.firstName }}</h5></p>
        <p><h5>Pavardė:&nbsp;&nbsp; {{ app.user.lastName }}</h5></p>
        <p><h5>El. paštas: {{ app.user.email }}</h5></p>
        <p><h5>Miestas:&nbsp;&nbsp; {{ app.user.city }}</h5></p>
        <p><h5>Tel. nr:&nbsp;&nbsp;&nbsp; {{ app.user.phone }}</h5></p>
        </div>
        <br><br><br><br>

        <h4>Jūsų skelbimai</h4>

        {% if advertisements %}

            <table class="table table-hover">
                <thead>
                <tr>
                    <th scope="col">Skelbimas</th>
                    <th scope="col">Aprašymas</th>
                    <th scope="col">Informacija</th>
                </tr>
                </thead>
                <tbody>
                {% for advertisement in advertisements %}
                    {% if advertisement.email == app.user.email %}

                    <tr class="table-light" style="text-align: left">
                        <th scope="row">{{ advertisement.getAdTitle }}</th>
                        <th scope="row">{{ advertisement.getDescription }}</th>
                        <td><a href="/advertisement/{{ advertisement.id }}" class="btn btn-outline-light" style="border-width: 0px;">Peržiūrėti...</a>
                        </td>
                    </tr>
                    {% endif %}
                {% endfor %}
                </tbody>
            </table>
            </div>
        {% endif %}
    {% endif %}
    <a href="/">
        <div class="btn btn-dark" style="margin-left: 15px">Grįžti</div>
    </a>

    <a href="/user/edit/{{ app.user.id }}">
        <div class="btn btn-secondary">Redaguoti</div>
    </a>
{% endblock %}
